.p-2 > label{
    font-weight: bold;
}
.result-local-lbl{
    background: lightgrey;
    padding: 3px 8px;
    min-width: 215px;
    min-height: 36px;
}
.btn-default{
    background: lightgrey;
}
button{
    margin: 8px;
}
.placeholder-lbl{
    font-style: italic;
    color: grey;
}
.utc-format{
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}