<div class="container" style="margin: auto;">
  <div class="d-flex justify-content-start align-items-center">
    <div class="p-2">
      <label for="">UTC DateTime</label>
      <div>
        <label class="utc-format"><span style="color:red;">* </span>UTC format example : 2022-08-17 03:17:48</label>
      </div>
      <div>
        <input 
        type="text" 
        id="utcInput" 
        placeholder="Type UTC date-time here..."
        style="min-width: 300px;">
      </div>
    </div>
    <div class="p-2" style="margin-top: 37px;"><i class="bi bi-arrow-right" style="font-size: 27px;"></i></div>
    <div class="p-2" style="margin-top: 20px;">
      <label for="">Local DateTime(Myanmar)</label>
      <div>
        <label id="localResultLabel" class="result-local-lbl">
          <span [ngClass]="localDateTimeResult.includes('...')?'placeholder-lbl':''">{{localDateTimeResult}}</span>
        </label>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-primary" (click)="onConvert()">Convert</button>
    <button class="btn btn-default" (click)="onReset()">Reset</button>
  </div>
  
</div>